<!DOCTYPE html>
<html lang="ru">
    
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="..\css\hexagon.css">
		<link rel="stylesheet" href="..\css\hexagon-row.css">
		<link rel="stylesheet" href="..\css\catalogue.css">
		<title>Garmantino.by</title>
	</head>

	<body>
		<div class='box-center'>
		</div>
		
			<div class='hexagon-row-even' id='first-row'>
				<div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2'>
				</div></div></div>
				<div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2 hexagon-with-pic'>
					<a href='#'> <img src='../imgs/pic3.png' class='pic'> </a>
				</div></div></div>
				<div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2 hexagon-with-pic'>
					<a href='#'> <img src='../imgs/pic4.png' class='pic'> </a>
				</div></div></div>
				<div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2 hexagon-with-pic'>
					<a href='#'> <img src='../imgs/pic5.png' class='pic'> </a>
				</div></div></div>
				<div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2'>
				</div></div></div>
			</div>
			
			<div class='hexagon-row-odd'>
				<div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2 hexagon-with-pic'>
					<a href='#'> <img src='../imgs/pic6.png' class='pic'> </a>
				</div></div></div>
				<div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2 hexagon-with-pic'>
					<a href='#'> <img src='../imgs/pic7.png' class='pic'> </a>
				</div></div></div>
				<div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2 hexagon-with-pic'>
					<a href='#'> <div class='pic' id='puzzle'></div> </a>
				</div></div></div>
				<div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2 hexagon-with-pic'>
					<a href='#'> <img src='../imgs/pic8.png' class='pic'> </a>
				</div></div></div>
			</div>
			
			<div class='hexagon-row-even' id='last-row'>
				<div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2'>
				</div></div></div>
				<div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2'>
				</div></div></div>
				<div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2'>
				</div></div></div>
				<div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2'>
				</div></div></div>
				<div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2'>
				</div></div></div>
			</div>
			
    </body>
    
</html>