<!DOCTYPE html>
<html lang="ru">
    
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="..\css\hexagon.css">
		<link rel="stylesheet" href="..\css\hexagon-row.css">
		<link rel="stylesheet" href="..\css\catalogue.css">
		<link rel="stylesheet" href="..\css\font-awesome.css">
		<title>Garmantino.by</title>
	</head>

	<body>
		<nav id='nav-bar'>
			<img id='logo-gray' src='../imgs/logo-gray.png'>
			<div> <a href='#' class='this-page-link'> Каталог </a> </div>
			<div> <a href='#'> Конструктор </a> </div>
			<div> <a href='#'> Контакты </a> </div>
			<div> <a href='#'> О нас </a> </div>
			<div> <a href='#'> Задать вопрос </a> </div>
			<div>
				<a href='#'> <i class="fa fa-facebook-square">  </i> </a>
				<a href='#'> <i class="fa fa-vk">  </i> </a>
			</div>
			
			<div>
				<form>
					<input type='text' id='search'>
					<button type='submit'> <i class="fa fa-search">  </i> </button>
				</form>
			</div>	
			
		</nav>
		
		<div class='box-center'>
			<img id='red-logo' src='../imgs/logo-red.png'>
			<img id='garmantino-red' src='../imgs/garmantino-red.png'>
			<img id='good-furniture-red' src='../imgs/good-furniture-red.png'>
		</div>
		
		<div class='hexagon-row-even' id='first-row'>
			<div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2'>
			</div></div></div>
			<div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2 hexagon-with-pic'>
				<a href='#'> <img src='../imgs/pic3.png' class='pic'> </a>
			</div></div></div>
			<div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2 hexagon-with-pic'>
				<a href='#'> <img src='../imgs/pic4.png' class='pic'> </a>
			</div></div></div>
			<div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2 hexagon-with-pic'>
				<a href='#'> <img src='../imgs/pic5.png' class='pic'> </a>
			</div></div></div>
			<div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2'>
			</div></div></div>
		</div>
		
		<div class='hexagon-row-odd'>
			<div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2 hexagon-with-pic'>
				<a href='#'> <img src='../imgs/pic6.png' class='pic'> </a>
			</div></div></div>
			<div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2 hexagon-with-pic'>
				<a href='#'> <img src='../imgs/pic7.png' class='pic'> </a>
			</div></div></div>
			<div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2 hexagon-with-pic'>
				<a href='#'> <div class='pic' id='puzzle'></div> </a>
			</div></div></div>
			<div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2 hexagon-with-pic'>
				<a href='#'> <img src='../imgs/pic8.png' class='pic'> </a>
			</div></div></div>
		</div>
		
		<div class='hexagon-row-even' id='last-row'>
			<div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2'>
			</div></div></div>
			<div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2'>
			</div></div></div>
			<div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2'>
			</div></div></div>
			<div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2'>
			</div></div></div>
			<div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2'>
			</div></div></div>
		</div>
		
		<footer id='footer'>
			<div class='box'>
				<div class='links'>
					<div> <a href='#' class='this-page-link'> Каталог </a> </div>
					<div> <a href='#'> Конструктор </a> </div>
					<div> <a href='#'> Контакты </a> </div>
					<div> <a href='#'> О нас </a> </div>
					<div> <a href='#'> Задать вопрос </a> </div>
					<div>
					<a href='#'> <i class="fa fa-facebook-square">  </i> </a>
					<a href='#'> <i class="fa fa-vk">  </i> </a>
					</div>
					
				</div>
				<div class='ipMamul'>
					ИП Мамуль Оксана Георгиевна
				</div>
			</div>
			
			<div class='move-up'>
				<button type='submit'> <i class="fa fa-angle-up"> </i> </button>
			</div>
			
		</footer>
			
    </body>
    
</html>