<!DOCTYPE html>
<html lang="ru">
    
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="..\css\index.css">
		<title>Garmantino.by</title>
	</head>

	<body>
		<div class='hexagon-row-odd' id='first-row'>
            <div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2'>
			</div></div></div>
            <div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2'>
			</div></div></div>
            <div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2'>
			</div></div></div>
            <div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2'>
			</div></div></div>
            <div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2'>
			</div></div></div>
        </div>
        <div class='hexagon-row-even'>
            <div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2'>
			</div></div></div>
            <div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2'>
			</div></div></div>
            <div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2' id='pic1'>
			</div></div></div>
            <div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2'>
			</div></div></div>
            <div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2'>
			</div></div></div>
			<div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2'>
			</div></div></div>
        </div>
		
		<div class='hexagon-row-odd'>
            <div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2' id='pic2'>
			</div></div></div>
            <div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2'>
			</div></div></div>
            <div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2' id='hexagon-menu'>
				<div class='hexagon-inner'>
					<ul>
						<li><a href='#'>Каталог</a></li>
						<li><a href='#'>Конструктор</a></li>
						<li><a href='#'>Контакты</a></li>
						<li><a href='#'>О нас</a></li>
					</ul>
				</div>
			</div></div></div>
            <div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2' id='pic3'>
			</div></div></div>
            <div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2'>
			</div></div></div>
        </div>
        
        <div class='hexagon-row-even'>
            <div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2'>
			</div></div></div>
            <div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2'>
			</div></div></div>
            <div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2'>
			</div></div></div>
            <div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2'>
			</div></div></div>
            <div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2'>
			</div></div></div>
			<div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2'>
			</div></div></div>
        </div>
		
		<div class='hexagon-row-odd' id='last-row'>
            <div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2'>
			</div></div></div>
            <div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2'>
			</div></div></div>
            <div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2'>
			</div></div></div>
            <div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2'>
			</div></div></div>
            <div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2'>
			</div></div></div>
        </div>
        
		
	</body>
    
</html>