{% extends "base.html" %}
{% load staticfiles %}

{% block styles %}
    <link rel='stylesheet' href='{% static "css\hexagon.css" %}'>
    <link rel='stylesheet' href='{% static "css\hexagon-row.css" %}'>
    <link rel='stylesheet' href='{% static "css\catalogue.css" %}'>
    <link rel='stylesheet' href='{% static "css\footer.css" %}'>
    {% block additional_styles %}{% endblock %}
{% endblock %}


{% block body %}
    <div id="page">
        {%include 'header.html'%}

        <div id="page-content">
            <div id="logo-big-wrapper"> <img id="logo-big" src='{% static "imgs/logo-big.png" %}'> </div>

            <div class='hexagons-wrapper'>
                {% for row in rows %}

                    <div class= '{% if row|length == 4%} hexagon-row-even {% else %} hexagon-row-odd {% endif %}'>
                        {% if row|length == 4 or forloop.counter == 1%}
                            <div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2 hexagon-white'>
                            </div></div></div>
                        {% endif %}

                        {% block content %}{% endblock %}

                        {% if row|length == 4 or forloop.counter == 1%}
                            <div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2 hexagon-white'>
                            </div></div></div>
                        {% endif %}
                    </div>
                {% endfor %}

                {%include 'footer.html'%}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src='{% static "js/hexagon_rows.js" %}'></script>
    <script src='{% static "js/catalogue.js" %}'></script>
{% endblock %}