{% extends "catalogue.html" %}
{% load staticfiles %}

{% block additional_styles %}
    <link rel='stylesheet' href='{% static "css\catalogue_triangle_animation.css" %}'>
{% endblock %}

{% block content %}

    {% for item in row %}
        {% if item %}
            <div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2 with-content'>
                <a href='{% url "item" item.id %}'>
                    <div class="hexagon-content">
                        <img src='{{ item.photo }}' class='pic'>
                        <div class="triangle-wrapper">
                            <div class="triangle"></div>
                            <div class="info info-first">{{ item.cost.rubles }}р.{{ item.cost.kopeck }}к.</div>
                            <div class="info info-second">{{ item.name }}</div>
                            <div class="info info-third">{{ item.info }}</div>
                            <div class="info info-fourth"><!--{{ item.article }}--></div>
                        </div>
                    </div>
                </a>
            </div></div></div>
        {% else %}
            <div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2'>
            </div></div></div>
        {% endif %}
    {% endfor %}

{% endblock %}