{% extends "catalogue.html" %}
{% load staticfiles %}

{% block additional_styles %}
    <link rel='stylesheet' href='{% static "css\catalogue_category_name_trapezoid.css" %}'>
{% endblock %}

{% block content %}
    {% for category in row %}
        {% if category %}
            <div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2 with-content'>
                <a href='{% url "category" category.id %}'>
                    <div class="hexagon-content">
                        <img src='{{ category.photo }}' class='pic'>
                        <div class="triangle-wrapper">
                            <div class="triangle"></div>
                            <div class="info-wrapper">
                                <div class="info">
                                    {{ category.name }}
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div></div></div>
        {% else %}
            <div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2'>
            </div></div></div>
        {% endif %}
    {% endfor %}
{% endblock %}