{% load staticfiles %}
<!DOCTYPE html>
<html lang='ru' xmlns="http://www.w3.org/1999/html">
    
	<head>
        <link rel="apple-touch-icon" sizes="180x180" href="{% static "imgs/apple-touch-icon.png" %}">
        <link rel="icon" type="image/png" href={% static "imgs/favicon-32x32.png" %} sizes="32x32">
        <link rel="icon" type="image/png" href={% static "imgs/favicon-16x16.png" %} sizes="16x16">
		<meta charset="UTF-8">
        <link rel='stylesheet' href='{% static "css\hexagon.css" %}'>
		<link rel='stylesheet' href='{% static "css\hexagon-row.css" %}'>
		<link rel='stylesheet' href='{% static "css\header.css" %}'>
		<link rel='stylesheet' href='{% static "css\footer.css" %}'>
		<link rel='stylesheet' href='{% static "css\catalogue.css" %}'>
		<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'>
		<title>Garmantino.by</title>
	</head>

	<body>
        <div id="page">
            {%include 'header.html'%}

            <div id="page-content">
                <div id="logo-big-wrapper"> <img id="logo-big" src='{% static "imgs/logo-big.png" %}'> </div>

                <div class='hexagons-wrapper'>
                    {% for row in rows %}

                        <div class= '{% if row|length == 4%} hexagon-row-even {% else %} hexagon-row-odd {% endif %}'>
                            {% if row|length == 4 or forloop.counter == 1%}
                                <div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2 hexagon-white'>
                                </div></div></div>
                            {% endif %}

                            {% for category in row %}
                                {% if category %}
                                    <div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2 hexagon-with-pic'>
                                        <a href='{% url "category" category.id %}'> <img src='{{ category.photo }}' class='pic' title='{{ category.name }}'> </a>
                                    </div></div></div>
                                {% else %}
                                    <div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2'>
                                    </div></div></div>
                                {% endif %}
                            {% endfor %}

                            {% if row|length == 4 or forloop.counter == 1%}
                                <div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2 hexagon-white'>
                                </div></div></div>
                            {% endif %}
                        </div>

                    {% endfor %}
                </div>

                {%include 'footer.html'%}
            </div>

            <script src='{% static "js/hexagon_rows.js" %}'></script>
            <script src='{% static "js/catalogue.js" %}'></script>
            <script src='{% static "js/footer.js" %}'></script>
        </div>
    </body>
    
</html>