{% extends "catalogue.html" %}
{% load staticfiles %}

{% block styles %}
    <link rel='stylesheet' href='{% static "css\catalogue_category_name_trapezoid.css" %}'>
{% endblock %}

{% block content %}
    {% for item in row %}
        {% if item %}
            <div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2 with-content'>
                <a href='{% url "category" item.id %}'>
                    <div class="hexagon-content">
                        <img src='{{ item.photo }}' class='pic' title='{{ item.name }}'>
                        <div class="triangle-wrapper">
                            <div class="triangle"></div>
                            <div class="info info-first">Стол развижной обеденный</div>
                        </div>
                    </div>
                </a>
            </div></div></div>
        {% else %}
            <div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2'>
            </div></div></div>
        {% endif %}
    {% endfor %}
{% endblock %}