{% extends "base.html" %}
{% load staticfiles %}

{% block styles %}
    <link rel='stylesheet' href='{% static "css\contacts.css" %}'>
{% endblock %}


{% block body %}
    {%include 'header.html'%}

    <div id="content">
        <div id="map"></div>
        <div id="info">
            <img id="logo-big" src='{% static "imgs/logo-big.png" %}'>

            <div id="info-content">
                <div class="info-block">
                    <div class="info-block-title">Адрес</div>
                    <div class="info-block-content">
                        <div class="info-block-item">г. Минск, ул.Матусевича, 35</div>
                        <div class="info-block-item">ТЦ «Мебельный МегаМаркет Домашний очаг»</div>
                        <div class="info-block-item">Этаж 2, павильон 6.</div>
                    </div>
                </div>

                <div class="info-block">
                    <div class="info-block-title">Часы работы</div>
                    <div class="info-block-content">
                        <div class="info-block-item">ежедневно 10:00-21:00</div>
                    </div>
                </div>

                <div class="info-block">
                    <div class="info-block-title">Контакты</div>
                    <div class="info-block-content">
                        <div class="info-block-item">+375 29 601-47-77</div>
                        <div class="info-block-item">+375 29 182-55-93</div>
                        <div class="info-block-item">garmantinoshop@gmail.com</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>var shop_icon_path = '{% static "imgs/map_logo.png" %}';</script>
    <script src="http://www.openlayers.org/api/OpenLayers.js"></script>
    <script src='{% static "js/open_street_maps.js" %}'></script>
{% endblock %}
