{% load staticfiles %}
<footer id='footer'>
	<div class='box'>
		<div class='links'>
			<div> <a href='#' class='this-page-link'> Каталог </a> </div>
			<div> <a href='#'> Конструктор </a> </div>
			<div> <a href='#'> Контакты </a> </div>
			<div> <a href='#'> О нас </a> </div>
			<div> <a href='#'> Задать вопрос </a> </div>
			<div>
				<a href='#'> <i class="fa fa-facebook-square">  </i> </a>
				<a href='#'> <i class="fa fa-vk">  </i> </a>
			</div>		
		</div>
        
		<div class='ipMamul'>
			ИП Мамуль Оксана Георгиевна
		</div>
	</div>
			
	<div class='move-up'>
		<button id='button-move-up'> <i class='fa fa-angle-up'> </i> </button>
	</div>
			
</footer>