{% load staticfiles %}
<footer id='footer' class="hexagon-row-even">
    <div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2'>
    </div></div></div>
    <div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2'>
        <div id="footer-info">
            <p>Минск, ул. Матусевича 35, этаж 2, павильон 6</p>
            <p>ТЦ «Мебельный МегаМаркет Домашний очаг»</p>
            <p>Часы работы: ежедневно 10:00-21:00</p>
            <p>+375 29 601-47-77</p>
            <p>+375 29 182-55-93</p>
            <p>garmantinoshop@gmail.com</p>
            <p>&copy; "Garmantino.by" 2016</p>
        </div>
    </div></div></div>
    <div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2'>
    </div></div></div>
    <div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2'>
    </div></div></div>
    <div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2' id="hexagon-with-main-logo-gray">
        <a href='{% url "index" %}'><div id="footer-main-page-link"></div></a>
    </div></div></div>
    <div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2'>
    </div></div></div>
</footer>