{% load staticfiles %}
<footer id='footer' class="hexagon-row-even">
    <div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2'>
    </div></div></div>
    <div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2'>
        <div id="footer-info">
            <p>Минск, ул. Матусевича 35, пав. 35А</p>
            <p>Режим работы: 10:00-21:00</p>
            <p>+375 29 182-55-93</p>
            <p>+375 29 601-47-77</p>
            <p>info@garmantino.by</p>
            <p>&copy; "Garmantino.by" 2016</p>
        </div>
    </div></div></div>
    <div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2'>
    </div></div></div>
    <div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2'>
    </div></div></div>
    <div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2' id="hexagon-with-main-logo-gray">
    </div></div></div>
    <div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2'>
    </div></div></div>
</footer>