{% load staticfiles %}

<div id="pop-up">
    <div id="pop-up-background"></div>
    <div id="question-form-wrapper">
        <div id="question-form-header">
            <div id="title"> Ваш вопрос </div>
            <button type="button" id="close">x</button>
        </div>
        <form action='{% url "ask_question"%}' method='get' id="question-form">
            <input type='text' name='name' id='name' placeholder='Как Вас зовут?'>
            <textarea name='question' id='question' placeholder='Ваш вопрос'></textarea>
            <input type='email' name='email' id='email' placeholder='Ваш почтовый адресс'>
            <input type='tel' name='phone' id='phone' placeholder='Ваш телефон'>
            <div id="submit-wrapper">
                <input type='submit' value='Отправить'>
            </div>
        </form>
    </div>
</div>

<nav id='header'>
    <div id="nav-bar-menu">
        <a href='{% url "index" %}' id="anchor-to-index"> <img id='logo' src='{% static "imgs/logo-gray.png" %}'> </a>
        <div class='nav-bar-menu-item'>
            <div class='dropdown'>
                <a href='{% url "catalogue" %}'> Каталог  </a>
                <div class='drop-menu'>
                    <ul class="drop-menu-content">
                        {% for category in categories %}
                            <li>
                                <div class="category">
                                    <img src='{% static "imgs/arrow-right.png" %}'>
                                    <a href="{% url "category" category.id %}">{{ category.name }}{% if category.subcategories %}:{% endif %}</a>
                                </div>
                                 <ul class="sub-category">
                                    {% for subcategory in category.subcategories %}
                                         <a href="{% url "category" subcategory.id %}">{{ subcategory.name }}</a>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class='nav-bar-menu-item'> <a href='{% url "contacts" %}' target="_blank"> Контакты </a> </div>
        <div class='nav-bar-menu-item'> <a href='#' id="ask-question-button"> Задать вопрос </a> </div>
    </div>

    <div id="nav-bar-left-part">
        <div id="social-icons">
            <a href="http://instagram.com/garmantino_furniture/" target="_blank"> <i class="icon-instagram-2">&#xe804;</i> </a>
        </div>

        <form action='{% url "search"%}' method='get' >
            <input type='text' name='question' id='search' placeholder='Поиск'>
            <input type='submit' value=''>
        </form>
    </div>
</nav>

<nav id='navigation'>
    {% for item in navigation %}
        {% if forloop.last %}
            <div id='current-navigation-item'>
                {{item.name}}
            </div>
        {% else %}
            <a class='navigation-item' href='{{ item.url }}'> {{item.name}} </a>
            <img src='{% static "imgs/arrow-left.png" %}'>
        {% endif %}


    {% endfor %}
</nav>