{% load staticfiles %}
<nav id='header'>

    <div id="nav-bar-menu">
        <a href='{% url "index" %}' id="anchor-to-index"> <img id='logo' src='{% static "imgs/logo-gray.png" %}'> </a>
        <div class='nav-bar-menu-item'>
            <div class='dropdown'>
                <a href='{% url "catalogue" %}'> Каталог  </a>
                <div class='drop-menu'>
                    <ul class="drop-menu-content">
                        {% for category in categories %}
                            <li>
                                <div class="category">
                                    <img src='{% static "imgs/list-arrow.jpg" %}'>
                                    <a href="{% url "category" category.id %}">{{ category.name }}{% if category.subcategories %}:{% endif %}</a>
                                </div>
                                 <ul class="sub-category">
                                    {% for subcategory in category.subcategories %}
                                         <a href="{% url "category" subcategory.id %}">{{ subcategory.name }}</a>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class='nav-bar-menu-item'> <a href='#'> Контакты </a> </div>
        <div class='nav-bar-menu-item'> <a href='#'> О компании </a> </div>
        <div class='nav-bar-menu-item'> <a href='#'> Задать вопрос </a> </div>
        <div class='nav-bar-menu-item'> <a href='#'> English Version </a> </div>
    </div>

    <div id="nav-bar-left-part">
        <div id="social-icons">
            <a href='#'> <i class="fa fa-vk">  </i> </a>
            <a href='#'> <i class="fa fa-facebook-square">  </i> </a>
            <a href='#'> <i class="fa fa-instagram"  aria-hidden="true"></i> </a>
        </div>

        <form action='{% url "search"%}' method='get' >
            <input type='text' name='question' id='search' placeholder='Поиск'>
            <input type='submit' value=''>
        </form>
    </div>

</nav>