{% load staticfiles %}
<!DOCTYPE html>
<html lang='ru'>
    
	<head>
		<meta charset='UTF-8'>
		<link rel='stylesheet' href='{% static "css\hexagon.css" %}'>
		<link rel='stylesheet' href='{% static "css\hexagon-row.css" %}'>
		<link rel='stylesheet' href='{% static "css\index.css" %}'>
		<title>Garmantino.by</title>

        <script>
            var photos_urls = [{% for url in items_photos_urls %} '{{ url }}', {% endfor %}];
            var item_urls = [{% for id in items_ids %} '{% url "item" id%}', {% endfor %}];
        </script>
	</head>

	<body>
		<div class='hexagons-wrapper'>
			{% for row in rows %}
				<div class= '{% if row|length == 5%} hexagon-row-odd {% else %} hexagon-row-even {% endif %}' {% if forloop.first %} id='first-row' {% endif %} {% if forloop.last %} id='last-row' {% endif %}>
					{% for cell in row %}
						{% if cell %}
							<div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2'>
								<a href='{% url "item" cell.item_id%}' > <img src='{{ cell.item_photo_url }}' style='{{ cell.css_token }}'> </a>
							</div></div></div>
						{% else %}
							{% if forloop.parentloop.counter == 3 and forloop.counter == 3%}
								<div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2'>
									<nav class='menu'>
										<ul>
											<li><a href='{% url "catalogue" %}'>Каталог</a></li>
											<li><a href='#'>Конструктор</a></li>
											<li><a href='#'>Контакты</a></li>
											<li><a href='#'>О нас</a></li>
										</ul>
									</nav>
								</div></div></div>
							{% else %}
								<div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2'>
								</div></div></div>
							{% endif %}
						{% endif %}
					{% endfor %}
				</div>
			{% endfor %}
		</div>

		<script src='{% static "js/index.js" %}'>
        </script>
	</body>
    
</html>