{% load staticfiles %}
<!DOCTYPE html>
<html lang='ru'>
    
	<head>
		<meta charset='UTF-8'>
		<link rel='stylesheet' href='{% static "css\hexagon.css" %}'>
		<link rel='stylesheet' href='{% static "css\hexagon-row.css" %}'>
		<link rel='stylesheet' href='{% static "css\header.css" %}'>
		<link rel='stylesheet' href='{% static "css\item.css" %}'>
		<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'>
		<title>Garmantino.by</title>
		
		<script>
            var paths = [{% for url in photos_urls %} '{{ url }}', {% empty %} '{% static "imgs/default-item.jpg" %}' {% endfor %}];
        </script>

	</head>

	<body>
		{%include 'header.html'%}
        
		<div class='hexagon-row-odd' id='first-row'>
			<div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2'>
			</div></div></div>
			<div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2'>
			</div></div></div>
            <div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2'>
			</div></div></div>
		</div>
		
		<div class='hexagon-row-even' id='middle-row'>
			<div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2'>
				<div class='hexagon-white'>
					<div id='button-left'> <i class="fa fa-angle-left"> </i> </div>
				</div>
			</div></div></div>
			<div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2'>
					<img id='image-slider' src={{ photos_urls|first }}>
			</div></div></div>
            <div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2'>
				<div id='hexagon-description'>
					<div id='button-right'> <i class="fa fa-angle-right"> </i> </div>
					<div id='description'>
						<p>{{ item_name|title }}</p>
						{% for property in properties %}
                            <p> {{ property.name }} <a href='#'> {{ property.value }} </a></p>
                        {% empty %}
                            'На данный момент характеристик - нет!'
                        {% endfor %}
					</div>
					<div class='nothing'></div>
				</div>
			</div></div></div>
			<div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2'>
				<div class='hexagon-white'></div>
			</div></div></div>
		</div>
		
		<div class='hexagon-row-odd' id='last-row'>
			<div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2'>
			</div></div></div>
			<div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2'>
			</div></div></div>
            <div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2'>
			</div></div></div>
		</div>

		<script src='{% static "js/item.js" %}'></script>
    </body>
    
</html>