#nav-bar{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch;
    
    top: 0;
    position: relative;
    z-index: 99;
    opacity: 0.9;
    
    min-height: 35px;
    background-color: white;
}

#nav-bar a{
	text-decoration: none;
    color: #575757;
	font-size: 16pt;
}

#nav-bar .this-page-link{
   color: #A42926 !important; 
}

#logo-gray{
    padding-top: 4px; 
    height: 30px;
}

#nav-bar > div{
    display: flex;
    align-items: center;
    margin-right: 3%;
}

#nav-bar > a:first-child{
    margin-right: 4%;
}

#nav-bar > div:last-child{
    margin-right: 2%;
}

#nav-bar i{
    margin: 0 15px 0 5px;
    color: #857e7e; 
}

#nav-bar form{
    padding-top: 3px;
    padding-bottom: 3px; 
    min-height: 40%;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

#nav-bar form input[name='question']{
   border: 1px solid #959492; 
   background-color: rgba(255, 255, 255, 0) !important; 
   outline: none;  
   padding: 0px 0px 0px 3px;
   color: #857e7e;
   font-size: 15px;
   font-family: 'DidactGothic';
}

#nav-bar form input[name='question']:focus {
    background-color: rgba(255, 255, 255, 0) !important;
}

#nav-bar form input[type='submit']{
    cursor: pointer;
    min-width: 15%;
    background-image: url("../imgs/search.png");
    background-position: center; 
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid #959492;
    color: #959492;
    background-color: rgba(255, 255, 255, 0) !important;
}

#nav-bar form input[type='submit']:focus{
    outline: none;
}