.hexagon-row-odd, .hexagon-row-even{
	display: flex;
	flex-wrap: nowrap;
	overflow: hidden;
    
    max-width: 100%;
	margin-top: -5.85%;
}

.hexagon-row-even .hexagon:first-child{
	margin-left: -10%;
}