html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, 
img, ol, ul, li,
tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, menu, nav, section, summary,
time, mark, audio, video, button {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
	background: white;
    font-family: 'DidactGothic';
    max-width: 100%;
    overflow: hidden;
}

.hexagon{
    min-width: 33.233vw;
	height: 38.4896vw; /* 33.333 * 2/sqrt(3) */
}

.hexagon-white {
    background: white;
}

.hexagon-row-even, .hexagon-row-odd{
    margin-top: -10% !important;
}

.hexagon-row-even .hexagon:first-child{
	margin-left: -16.6667% !important;
}

#first-row{
    margin-top: -25% !important;
}

#middle-row{
}

#last-row{
	height: 18.3vw !important;
}

/*logo*/

#logo-big{
    position: absolute;
    top: 55px;
    left: 57%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 20vw;
}

#logo-red{
    width: 3.5vw;
}

#garmantino-red{
    width: 20vw;
    margin-top: -15px;
}

/* middle-row */
    /* slider */
#button-left, #button-right{
    cursor: pointer;
}

#button-left .button{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 35px 21px 35px 0;
    border-color: transparent #942A2E transparent transparent;
}

#button-right .button{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 35px 0 35px 21px;
    border-color: transparent transparent transparent #942A2E;
}

#button-left:hover, #button-right:hover{
    text-shadow: -2px 0 8px rgba(200, 200, 200, 1), 2px 0 8px rgba(200, 200, 200, 1);
}

#button-left{
    height: 100%;

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-right: 8px;
}

#button-right{
    display: flex;
    align-items: center;
    height: 18vw;
    padding-top: 13px;
    padding-left: 5px;
}

#slider{
    width: 100%;
    height: 100%;
}

    /* description */
#hexagon-with-description{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-top: 1vw;
    background-color: white;
}

#item-title{
    margin-top: 2vw;
    max-width: 75%;
    font-size: 16pt;
    text-align: center;
}

#description{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 19.2448vw;
}

#properties{
    padding-left: 20px;
    padding-right: 10px;
    height: 95%;
    flex-grow: 1;
    overflow-y: scroll;
}

#properties > :nth-child(even){
    background: #eaeaea;
}

#properties .property{
    padding: 3px 3px 0 3px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-size: 16px;
    color: #1b1b1b;
}

#properties .property .property-name{
    display: flex;
    text-align: left;
    max-width: 45%;
}

#properties .property .property-value{
    display: flex;
    text-align: right;
    max-width: 45%;
}

#remark{
    width: 68%;
    font-size: 15px;
    text-align: center;
    color: #863136;
}

#checkout{
    display: flex;
    justify-content: center;
    width: 100%;
}

#checkout a{
    font-size: 22px;
    text-align: center;
    /*text-decoration: underline;*/
    text-decoration: none;
    border-bottom: 1px solid #515151;
    color: #515151;
}
/* middle-row */

@font-face{
    font-family: 'DidactGothic';
    src: url(../fonts/DidactGothic/DidactGothic.ttf);
    font-weight: normal;
}