html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, 
img, ol, ul, li,
tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, menu, nav, section, summary,
time, mark, audio, video, button {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
	background: white;
    font-family: 'DidactGothic';
    max-width: 100%;
    overflow-y: hidden;
}

.hexagon{
    min-width: 33.233vw;
	height: 38.4896vw; /* 33.333 * 2/sqrt(3) */
}

.hexagon-white {
    background: white;
}

.hexagon-row-even, .hexagon-row-odd{
    margin-top: -10% !important;
}

.hexagon-row-even .hexagon:first-child{
	margin-left: -16.6667% !important;
}

#first-row{
    margin-top: -25% !important;
}

#middle-row{
}

#last-row{
	height: 18.3vw !important;
}

/*logo*/

.box-center{
    position: absolute;
    top: 70px;
    left: 57%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;

}

#logo-red{
    width: 3.5vw;
}

#garmantino-red{
    width: 20vw;
    margin-top: -15px;
}


/* middle-row */
#button-left, #button-right{
    cursor: pointer;
    font-size: 60pt;
    color: #A42926;
}

#button-left:hover, #button-right:hover{
    text-shadow: -2px 0 8px rgba(200, 200, 200, 1), 2px 0 8px rgba(200, 200, 200, 1);
}

#button-left{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

#button-right{
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#slider{
    width: 100%;
    height: 100%;
}

#hexagon-description{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 100%;
	height: 100%;
    
    background-color: white;
}

#description{
    height: 100%;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15vw;

    overflow-y: scroll;

}

#description #item-title{
    margin: 20px 0 10px 0;
    font-size: 16pt;
    text-decoration: blink;
    text-align: center;
}

#properties .property{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-size: 16px;
}

#properties > :nth-child(even){
    background: #eaeaea;
}
/* middle-row */

@font-face{
    font-family: 'DidactGothic';
    src: url(../fonts/DidactGothic/DidactGothic.ttf);
    font-weight: normal;
}