#search-results img{
    width: 10%;
}

#search-results p{
    text-decoration: none;
    color: #575757;
	font-size: 16pt;
}

#search-results a{
    text-decoration: none;
    color: #A42926;
	font-size: 16pt;
}

#paginator{

}