#nav-bar{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch;
    
    top: 0;
    position: relative;
    z-index: 99;
    opacity: 0.9;
    
    min-height: 35px;
    background-color: white;
}

#nav-bar a{
	text-decoration: none;
    color: #575757;
	font-size: 16pt;
}

#logo-gray{
    padding-top: 4px; 
    height: 30px;
    margin-right: 3%;
}

#nav-bar > div{
    display: flex;
    align-items: center;
    margin-right: 3%;
}

#nav-bar > div:last-child{
    margin-right: 2%;
}

#nav-bar i{
    margin: 0 15px 0 5px;
    color: #857e7e; 
}

#nav-bar form{
    padding-top: 5px; 
    min-height: 40%;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

#search{
   border: 1px solid #959492; 
   background-color: rgba(255, 255, 255, 0) !important; 
   outline: none; 
   color: #857e7e; 
   font-size: 11px;
}

#search:focus {
    background-color: rgba(255, 255, 255, 0) !important; 
}

#nav-bar button{
    max-width: 15%;
    
    border: 1px solid #959492;
    color: #959492;
    background-color: rgba(255, 255, 255, 0) !important;
}

#nav-bar button:focus{
    outline: none;
}