html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, 
img, ol, ul, li,
tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
	background: white;
    font-family: 'DidactGothic';
}

#nav-bar{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch;
    
    top: 0;
    
    height: 35px;
    background-color: white;
}

a{
	text-decoration: none;
    color: #575757;
	font-size: 16pt;
}

#logo-gray{
    padding-top: 4px; 
    height: 90%;
    margin-right: 3%;
}

.this-page-link{
   color: #A42926 !important; 
}

#nav-bar > div{
    display: flex;
    align-items: center;
    margin-right: 3%;
}

#nav-bar > div:last-child{
    margin-right: 2%;
}

i{
    margin-right: 10px;
    color: #857e7e; 
}

form{
    padding-top: 5px; 
    min-height: 40%;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

#search{
   border: 1px solid #959492; 
   background-color: rgba(255, 255, 255, 0) !important; 
   outline: none; 
   color: #857e7e; 
   font-size: 11px;
}

#search:focus {
    background-color: rgba(255, 255, 255, 0) !important; 
}

#nav-bar button{
    max-width: 15%;
    
    border: 1px solid #959492;
    color: #959492;
    background-color: rgba(255, 255, 255, 0) !important;
}

#nav-bar button:focus{
    outline: none;
}

.box-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin-top: 3%;
    margin-bottom: 2%;
}

#red-logo{
    max-width: 45px;
}

#garmantino-red{
    max-width: 280px;
    margin-top: -10px;
}

#good-furniture-red{
    max-width: 160px;
}

.hexagon {
	min-width: 25vw;
	height: 28.8675vw; /* 25 * 2/sqrt(3) */
}

.hexagon-part2 {
    background-image: url("../imgs/hexagon-no-background.png");
}

.hexagon-with-pic {
    position: relative;
    background: white !important;
}

#first-row{
    margin-top: 0% !important;
}

.hexagon-row-even, .hexagon-row-odd{
    margin-top: -7.35% !important;
}

.hexagon-row-even .hexagon:first-child{
	margin-left: -12.5% !important;
}

#last-row{
	height: 18.3vw !important;
}

.pic{
    background-color: white; 
	width: 100%;
	height: 100%;
}

.pic:hover{
    opacity: 0.8;
}


#puzzle{
    background-image: url("../imgs/pic11.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50%;
}

#puzzle:hover{
    background-image: url("../imgs/pic10.jpg");
    opacity: 1;
}

#footer{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch;
    
    margin-top: -75px;
    width: 100%;
    height: 75px;
    padding-top: 10px;
    badding-bottom: 10px;
    
    background-color: white;
    opacity: 0.8;
}

.box{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    min-width: 80%;
}

.links{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
}

.ipMamul{
    text-align: center;
}

.move-up{
    min-width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.move-up button{    
    border: 1px solid #959492;
    color: #959492;
    background-color: rgba(255, 255, 255, 0) !important;
}

.move-up button:focus{
    outline: none;
}

.move-up i{
    margin-right: 0px;
    font-size: 30pt;
}

@font-face{
    font-family: 'DidactGothic';
    src: url(../fonts/DidactGothic/DidactGothic.ttf);
    font-weight: normal;
}