{% load staticfiles %}
<!DOCTYPE html>
<html lang='ru'>
    
	<head>
		<meta charset='UTF-8'>
		<link rel='stylesheet' href='{% static "css\hexagon.css" %}'>
		<link rel='stylesheet' href='{% static "css\hexagon-row.css" %}'>
		<link rel='stylesheet' href='{% static "css\navbar.css" %}'>
		<link rel='stylesheet' href='{% static "css\item.css" %}'>
		<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'>
		<title>Garmantino.by</title>
		
		<script>
            var paths = ['{% static "imgs/item/itemPhoto1.png" %}',
						 '{% static "imgs/item/itemPhoto2.png" %}',
						 '{% static "imgs/item/itemPhoto3.png" %}',
						 '{% static "imgs/item/itemPhoto4.jpg" %}',
						 '{% static "imgs/item/itemPhoto5.png" %}',];
        </script>

	</head>

	<body>
		<nav id='nav-bar'>
			<img id='logo-gray' src='{% static "imgs/logo-gray.png" %}'>
			<div> <a href='#'> Каталог </a> </div>
			<div> <a href='#'> Конструктор </a> </div>
			<div> <a href='#'> Контакты </a> </div>
			<div> <a href='#'> О нас </a> </div>
			<div> <a href='#'> Задать вопрос </a> </div>
			<div>
				<a href='#'> <i class="fa fa-facebook-square">  </i> </a>
				<a href='#'> <i class="fa fa-vk">  </i> </a>
			</div>
			
			<div>
				<form>
					<input type='text' id='search'>
					<button type='submit'> <i class="fa fa-search">  </i> </button>
				</form>
			</div>	
		</nav>
        
		<div class='hexagon-row-odd' id='first-row'>
			<div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2'>
			</div></div></div>
			<div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2'>
			</div></div></div>
            <div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2'>
			</div></div></div>
		</div>
		
		<div class='hexagon-row-even' id='middle-row'>
			<div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2 hexagon-white'>
				<div id='hexagon1'>
					<div id='button-left'> <i class="fa fa-angle-left"> </i> </div>
				</div>
			</div></div></div>
			<div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2'>
					<img id='image-slider' src='{% static "imgs/item/itemPhoto5.png" %}'>
			</div></div></div>
            <div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2'>
				<div id='hexagon3'>
					<div id='button-right'> <i class="fa fa-angle-right"> </i> </div>
					<div id='description'>
						<p>Стол обеденный</p>
						<p>Конструкция: <a href='#'>раздвижной</a></p>
						<p>Размер: <a href='#'>1600x800x760h</a></p>
						<p>Столешница: <a href='#'>постформинг</a></p>
						<p>Цвет столешницы: <a href='#'>Серый иней</a></p>
						<p>Кромка: <a href='#'>серая</a></p>
						<p>Материал обвязки: <a href='#'>сосна</a></p>
						<p>Цвет обвязки: <a href='#'>серый</a></p>
						<p>Ножки: <a href='#'>круглые</a>, <a href='#'>металлические</a></p>
					</div>
					<div class='nothing'></div>
				</div>
			</div></div></div>
			<div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2 hexagon-white'>
			</div></div></div>
		</div>
		
		<div class='hexagon-row-odd' id='last-row'>
			<div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2'>
			</div></div></div>
			<div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2'>
			</div></div></div>
            <div class='hexagon'><div class='hexagon-part1'><div class='hexagon-part2'>
			</div></div></div>
		</div>

		<script src='{% static "js/item.js" %}'/></script>	
    </body>
    
</html>