{% load staticfiles %}
<!DOCTYPE html>
<html lang='ru'>

	<head>
		<meta charset="UTF-8">
		<link rel='stylesheet' href='{% static "css\hexagon.css" %}'>
		<link rel='stylesheet' href='{% static "css\hexagon-row.css" %}'>
		<link rel='stylesheet' href='{% static "css\header.css" %}'>
		<link rel='stylesheet' href='{% static "css\footer.css" %}'>
		<link rel='stylesheet' href='{% static "css\catalogue.css" %}'>
        <link rel='stylesheet' href='{% static "css\search.css" %}'>
		<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'>
		<title>Garmantino.by</title>
	</head>

	<body>
		{%include 'header.html'%}

		{%include 'logos_box_center.html'%}

		<div id='search-results'>
            <p>Результаты поиска на вопрос "{{ question }}":</p>
            {% for item in results %}
				
				<p>
					Столик: <a href='{% url "item" item.id %}'>{{ item.name }}</a>
				</p>
				<p>
					Категории:
					{% for category in item.categories %}
						<a href='{% url "category" category.id %}'>{{ category.name }}</a> {%if not forloop.last%},{%endif%}
					{% endfor%}
				</p>
				
				<a href='{% url "item" item.id %}'>
					<img src='{{ item.photo }}' class='pic' title='{{ item.name }}'>
				</a>
            {% endfor%}
		</div>

        <div id='paginator'>
            <ul class='pagination'>
                {% if results.has_previous %}
                    <li><a class='button-left' href='{% url "search"%}?question={{ question }}&page={{ results.previous_page_number }}'> <i class="fa fa-angle-left"> </i> </a></li>
				{%else%}
					<li><a class='button-left-unavialable'> <i class="fa fa-angle-left"> </i> </a></li>
                {%endif%}
				
				{%for page in results.paginator.page_range%}
					{%if page == results.number%}
						<li><a class='current-page' href='{% url "search"%}?question={{ question }}&page={{ page }}'> {{page}} </a></li>
					{%else%}
						<li><a href='{% url "search"%}?question={{ question }}&page={{ page }}'> {{page}} </a></li>
					{%endif%}
				{%endfor%}
				
				{% if results.has_next %}
                    <li><a class='button-right' href='{% url "search"%}?question={{ question }}&page={{ results.next_page_number }}'> <i class="fa fa-angle-right"> </i> </a></li>
				{%else%}
					<li><a class='button-right-unavialable'> <i class="fa fa-angle-right"> </i> </a></li>
                {%endif%}
            </ul>
        </div>

		{%include 'footer.html'%}

		<script src='{% static "js/search.js" %}'></script>
        <script src='{% static "js/footer.js" %}'></script>
    </body>

</html>